/* Main css file. */

/* CSS tags */
body {
  background-color: #ffffff;
  text-align: center;
  width: 1286px;
}


/* CSS ids */
#approve-leaves {
  border: 1px solid #000000;
  min-height: 200px;
  margin-left: 17%;
  width: 900px;
}

#leave-application {
  border: 1px solid #000000;
  height: 350px;
  margin-left: 33.5%;
  width: 430px;
}

#login-form {
  border: 1px solid #000000;
  height: 150px;
  margin-left: 41%;
  width: 240px;
}

#login-legend {
  background: #ffffff;
  margin: -10px 0 30px 8px;
  width: auto;
}

#logout-link {
  height: 20px;
  overflow: auto;
}


/* CSS classes */
.border-five-hundred {
  border: 1px solid black;
  min-height: 60px;
  vertical-align: middle;
  width: 500px;
}

.center-text {
  text-align: center;
}

.error {
  background-color: red;
  min-width: 500px;
}

.info {
  background-color: cyan;
  min-width: 500px;
}

.left {
  float: left;
}

.margin-bottom-twenty {
  margin-bottom: 20px;
}

.margin-left-sixty {
  margin-left: 60px;
  min-width: 500px;
}

.margin-left-thirty {
  margin-left: 30px;
}

.margin-top-twenty {
  margin-top: 20px;
}

.margin-top-fifty {
  margin-top: 50px;
}

.right {
  float: right;
}

.success {
  background-color: greenyellow;
}


