<div id="logout-link">
  {% if pagetitle != "Index" %}
    <div class="right">
      <span>{{ user }}</span> |
      {% if show_view_link %}
        <a href="index.php?page=view_leaves">view leaves</a> |
      {% endif %}
      {% if show_apply_leaves %}
        <a href="index.php?page=apply">apply leaves</a> |
      {% endif %}
      {% if show_approve_leaves and show_approve_leaves == true %}
        <a href="index.php?page=approve">approve leaves</a> |
      {% endif %}
      {% if super_user > 0 %}
        <a href="index.php?page=admin">admin</a> |
      {% endif %}
      <a href="index.php?page=logout">logout</a>
    </div>
  {% endif %}
</div>

<div class="overflow-auto">
  {% if err %}
    <div class="error">{{ err }}</div>
  {% endif %}
  {% if info %}
    <div class="info">{{ info }}</div>
  {% endif %}
  {% if success %}
    <div class="success">{{ success }}</div>
  {% endif %}
  <h1>Leave Application System</h1>
</div>